.bgc-blue{
	background-color: #20433a;
	color: #ffffff;
	margin: 0 0 100px;
}
/*imagenes dentro del carrusel */
.img_div{
	height: 75vh !important;
	width: 100% !important;
}
img{
	background-repeat: no-repeat;
}
.form-flex{
	display: flex;
	justify-content: center;
}
#btn-submit{
	background-color: #2e402e;
	border-color: #0eff0e;
}

.font-start{
	color: #000000;
	text-shadow: text-shadow: 0px 1px #333;
}
